<div>
  <nav class="navbar navbar-expand navbar-light">
    <div class="container">
      <a href="#" class="navbar-brand">📚 Tutorial Manager</a>
      <div class="navbar-nav ms-auto">
        <li class="nav-item">
          <a routerLink="tutorials" class="nav-link">📖 Browse</a>
        </li>
        <li class="nav-item">
          <a routerLink="add" class="nav-link">➕ Create</a>
        </li>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="main-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
