version: '3.8'

services:
  mongodb:
    image: mongo:7.0
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123
    volumes:
      - mongo_data:/data/db

  backend:
    image: kabhishek027/mean-backend:latest
    container_name: backend
    restart: always
    ports:
      - "3000:3000"
    environment:
      MONGODB_URI: mongodb://admin:admin123@mongodb:27017/meandb?authSource=admin
    depends_on:
      - mongodb

  frontend:
    image: kabhishek027/mean-frontend:latest
    container_name: frontend
    restart: always
    ports:
      - "8080:80"
    depends_on:
      - backend

volumes:
  mongo_data:
